<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/urls">
        请输入基数<input type="text">
        <br>
        请选择户口<input type="text">
        <select name="shebao" id="sb">
            <option value="">城镇户口</option>
            <option value="">农村户口</option>
        </select>
        <br>
        <input type="submit" value="开始计算">
    </form>
</body>
</html>