<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
      <div>模板：动态的html网页</div>
    <div>使用 render() 直接加载并响应模板</div>
    <div>变量3:{{name3}}</div>
    <div>
        变量4:{{name4}}
        {% if name4 > 10 %}
        <div>模板if标签</div>
        {% endif %}

        {% load static %}
        静态文件：图片<img src="/static/meinv.png" alt="加载失败">
        <!--防止页面中访问路径stasic改变，使用模板变量代替防止变化-->
        静态文件：图片<img src="{% static 'meinv.png' %}" alt="加载失败">

    </div>
</body>
</html>